*{
  font-family: 'Inter', -apple-system, sans-serif;
  
}
html,body,#app{
  height: 100vh;
  color: #fff;
  overflow: hidden;

}
body {
  display: flex;
  place-items: center;
  background: linear-gradient(315deg,#001F63, rgb(112, 0, 69));
  background-size: 150% 150%;
  /* animation: gradient 30s ease infinite; */
}


@keyframes gradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

#app {
  margin: 0;
  padding: 1rem;
  font-weight: normal;
  width: 100vw;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {

}
.icon{
  height: 2rem;
  margin-right: 5px;
}